# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build files
Makefile.in
Makefile
aclocal.m4
configure
config.log
config.status
libtool
autom4te.cache/
auxdir/
build/
